// 頁面(瀏覽器)與物件的艱鉅:外兼具--上下為0,左右自動;內間距上下左右為0;設定在「*」(總管)
* {
    // 外間距--上下為0，左右自動margin:若物件寬度小於100%時，物件會自動 垂直 置中
    margin: 0 auto;
    // 內間距上下左右為0 padding
    padding: 0;
}
// 圖片等比控制
img {
    // 寬度為100% ; 高度自動
    width: 100%;
    height: auto;
}
// 變數區
// vw 在父框架與子框架之間，會呈現誤差值 ; 所以建議單位用 %
$w10: 10vw;
// 百分比單位
$W1P: 10%;
/* 文字尺寸 單位px (固定值) em(百分比，會疊加父框架的設定值) rem(百分比，不會疊加父框架設定的值)em 
基礎值為1em = 16 px ; rem 基礎值為 1rem =16 px */
$Trem: 1rem; 

%DN {
    //  隱藏
    display: none;
}
//
@mixin DN {
    display: none;
}
//  開啟隱藏物件
@mixin OB {
    // 顯示方式:區塊
    display: block;
}
// 清除浮動 float
@mixin ClearFloat {
    // 清除左右浮動
    clear: both;
}
// 隱藏項目符號
@mixin DNli {
    list-style: none;
}

// 計算區
// 計算header Logo 與 BtnBox之間的寬度
@mixin LBW($WM, $WA) {
    width: $w10 * $WM + $WA;
}

// 計算區
// 計算header logo 與 menubtn 之間的寬度，手機裝置
@mixin  LBW($WM, $WA) {
    // 計算區1.設定變數(乘載值得物件名稱)$WM=倍數 @WA=加的數值
    $LogoW:$w10* $WM + $WA;
    // Menubtn寬度=父框架的總寬度(100) -Logo寬度(85)
    $MBW:$w10*10-$LogoW;

    // 連動 計算寬度 Logo 與 MenuBtn 

    // 呼叫id (標籤 或 id class)
    
    #Logo{
        // 寬度
        width: $LogoW;
    }
    #MenuBoton{
        // 寬度
        width: $MBW;
    }
}
// 商品 廣告背景圖片語法
@mixin BPohto( $PosiTion,$Size, $Material,$Image ) {
    // 變數設定 1.對齊 $PosiTion 2.尺寸 $Size 3.資料夾位置  $Material ; 圖片 $Image
    // 問題:路徑無法直接讀取變數名稱
    // 解答:scss提供的語法，插值寫法(基於javascript的es6 語法)，#{自訂名稱 (只能英文和數字) }
    // ，例如:# {Image},寫在路徑上
    width: $w10 * 10;

    // 不重複
    background-repeat: no-repeat;
    // 背景圖片 置中對齊
    background-position:$PosiTion;
    // 背景圖片尺寸
    background-size: $Size;
      // 背景圖片
      background-image: url(../../images/#{$Material}/#{$Image});
}
@mixin PhoneMenu( $PosiTion,$Size, $Material,$Image ) {
    // 變數設定 1.對齊 $PosiTion 2.尺寸 $Size 3.資料夾位置  $Material ; 圖片 $Image
    // 問題:路徑無法直接讀取變數名稱
    // 解答:scss提供的語法，插值寫法(基於javascript的es6 語法)，#{自訂名稱 (只能英文和數字) }
    // ，例如:# {Image},寫在路徑上
    width: $w10 * 10;

    // 不重複
    background-repeat: no-repeat;
    // 背景圖片 置中對齊
    background-position:$PosiTion;
    // 背景圖片尺寸
    background-size: $Size;
      // 背景圖片
      background-image: url(../../images/#{$Material}/#{$Image});
}
// 圓角矩形
@mixin  Rounded($Num) {
    // 邊框角度設定，建議單位為像素
    border-radius: $Num + px;
}