@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

body, html {
  width: 100%;
  max-width: 100vw;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

/* 文字尺寸 單位px (固定值) em(百分比，會疊加父框架的設定值) rem(百分比，不會疊加父框架設定的值)em 
基礎值為1em = 16 px ; rem 基礎值為 1rem =16 px */
@media screen and (max-width: 576px) {
  header {
    width: 100%;
    background-color: #cfee7b;
  }
  header #MainNav {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: aliceblue;
    /*
    浮動對齊的問題 float
    1.#Logo 與 # icon 物件的父框架 nav，無寬度
    2.nav 的父框架 header ，高度消失(展開) 
    解決方式
    1.nav 的父框架 header ，給予高度: 或是nav 給予高度
    2.清除浮動狀態，由 nav 設定
    3.利用圖片高度撐開父框架的高
    */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header #MainNav #Logo {
    width: 85vw;
  }
  header #MainNav #MenuBoton {
    width: 15vw;
  }
  header #MainNav #icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
  }
  header #MainNav #icon #Logo {
    width: 50vw;
    float: left;
    background-color: ivory;
  }
  header #MainNav #icon ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
  }
  header #MainNav #icon ul .MenuBoton {
    float: left;
    background-color: #d87732;
    width: 10vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../../images/Icon/manuicon.svg);
  }
  header #MainNav .Btnbox {
    display: none;
  }
  header #MainNav .Clear {
    clear: both;
  }
  header #MenuNav {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    background-color: aliceblue;
  }
  header #MenuNav > #Close {
    width: 40px;
    height: 40px;
    list-style: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: aqua;
  }
  header #MenuNav > h1 {
    width: 100%;
    height: 110px;
    text-align: center;
    line-height: 110px;
    background-color: brown;
  }
  header #MenuNav > ul {
    width: 90%;
    position: relative;
    top: 50%;
    margin-top: -260px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: burlywood;
  }
  header #MenuNav > ul > .Item {
    width: 30.3333333333%;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  header #MenuNav > ul > .Home {
    background-color: #c0d4f8;
  }
  header #MenuNav > ul > .About {
    background-color: #c0d4f8;
  }
  header #MenuNav > ul > .Price {
    background-color: #c0d4f8;
  }
  header #MenuNav > ul > .Merchandise {
    background-color: #c0d4f8;
  }
  header #MenuNav > ul > .Memo {
    background-color: #c0d4f8;
  }

  footer {
    margin-top: 2rem;
  }
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  footer p {
    text-align: center;
  }
  footer hr {
    margin-bottom: 2rem;
  }
  footer address {
    display: none;
  }

  #Main {
    background-color: #f1f5bb;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
  }
  #Main #Banner .Btn {
    width: 30px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 15;
    top: 145px;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .ReftBtn {
    right: 5.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImageBox {
    width: 100vw;
    list-style: none;
    padding-bottom: 385px;
    background-color: #f0e8e8;
  }
  #Main #Banner #ImageBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 295px;
  }
  #Main > #HotStar {
    background-image: url(../../images/bg/001.jpg);
  }
  #Main > #HotStar > h1 {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #HotStar > article > .LCommodity {
    background-color: blueviolet;
    width: 90%;
    margin-bottom: 20px;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    background-color: cornflowerblue;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #HotStar > article > .LCommodity > .Images {
    width: 280px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: cornsilk;
  }
  #Main > #HotStar > article > .LCommodity > .Images > a > img {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #HotStar > article > .LCommodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .OriginaPrice {
    width: 40%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .BargainPrice {
    font-size: 1.2rem;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .Car {
    width: 20%;
  }
  #Main > #HotStar > .more {
    width: 80%;
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #Main > #HotStar > .more > a {
    padding: 2.5px 10px 0.1px;
    display: inline-block;
    background-color: #49c769;
    text-decoration: none;
    color: #6a8aa7;
    border-radius: 35px;
  }
  #Main > #Share > h1 {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Share > article {
    width: 90%;
  }
  #Main > #Share > article > .LCommodity {
    background-color: blueviolet;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }
  #Main > #Share > article > .LCommodity > #TitleBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    background-color: cornflowerblue;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #Share > article > .LCommodity > .Images {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: cornsilk;
  }
  #Main > #Share > article > .LCommodity > .Images > a > img {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
  }
  #Main > #Share > article > .LCommodity > .Nameox {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Share > article > .LCommodity > .Nameox > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Share > article > .LCommodity > .Nameox > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Share > article > .LCommodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #Share > article > .LCommodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > .OriginaPrice {
    width: 40%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > .BargainPrice {
    font-size: 1.2rem;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > .Car {
    width: 20%;
  }
  #Main > #Share > .more {
    width: 80%;
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #Main > #Share > .more > a {
    padding: 2.5px 10px 0.1px;
    display: inline-block;
    background-color: #49c769;
    text-decoration: none;
    color: #6a8aa7;
    border-radius: 35px;
  }
  #Main .Item01 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/yellow.png);
  }
  #Main .Item02 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/purple.png);
  }
  #Main .Item03 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/green.png);
  }
  #Main .Item04 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/coffee.png);
  }
  #Main .Item05 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/blue.png);
  }
}
@media screen and (min-width: 576px) {
  header {
    width: 100%;
    background-color: #da338f;
  }
  header #MainNav {
    /*
    浮動對齊的問題 float
    1.#Logo 與 # icon 物件的父框架 nav，無寬度
    2.nav 的父框架 header ，高度消失(展開) 
    解決方式
    1.nav 的父框架 header ，給予高度: 或是nav 給予高度
    2.清除浮動狀態，由 nav 設定
    3.利用圖片高度撐開父框架的高
    */
    height: 10vh;
  }
  header #MainNav #Logo {
    width: 85vw;
  }
  header #MainNav #MenuBoton {
    width: 15vw;
  }
  header #MainNav #icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
  }
  header #MainNav #icon h1 {
    float: left;
    background-color: #21995d;
    width: 100vw;
  }
  header #MainNav #icon > .MenuBoton {
    width: 60px;
    float: left;
    background-color: #d87732;
    width: 10vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../../images/Icon/manuicon.svg);
  }
  header #MainNav .Btnbox {
    background-color: #d6d576;
    display: none;
  }
  header #MainNav .Clear {
    clear: both;
  }

  footer {
    margin-top: 2rem;
  }
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  footer p {
    text-align: center;
  }
  footer hr {
    margin-bottom: 2rem;
  }
  footer address {
    display: none;
  }

  #Main {
    background-color: #f1f5bb;
  }
  #Main #Banner {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  #Main #Banner .Btn {
    width: 30px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 15;
    top: 145px;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .ReftBtn {
    right: 5.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImageBox {
    width: 100vw;
    list-style: none;
    padding-bottom: 385px;
    background-color: #f0e8e8;
  }
  #Main #Banner #ImageBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 295px;
  }
  #Main > #HotStar {
    background-image: url(../../images/bg/001.jpg);
  }
  #Main > #HotStar > h1 {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #HotStar > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #Main > #HotStar > article > .LCommodity {
    background-color: #edeeb7;
    width: 47%;
    margin-bottom: 20px;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    background-color: cornflowerblue;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #HotStar > article > .LCommodity > .Images {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: cornsilk;
  }
  #Main > #HotStar > article > .LCommodity > .Images > a > img {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #HotStar > article > .LCommodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .OriginaPrice {
    width: 40%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .BargainPrice {
    font-size: 1.2rem;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > Car {
    width: 20%;
  }
  #Main > #HotStar > .more {
    width: 80%;
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #Main > #HotStar > .more > a {
    padding: 2.5px 10px 0.1px;
    display: inline-block;
    background-color: #49c769;
    text-decoration: none;
    color: #6a8aa7;
    border-radius: 35px;
  }
  #Main > #Share > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Share > article {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #Main > #Share > article > .LCommodity {
    background-color: #edeeb7;
    width: 47%;
    margin-bottom: 20px;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Share > article > .LCommodity > #TitleBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    background-color: #2c8f23;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #Share > article > .LCommodity > .Images {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: cornsilk;
  }
  #Main > #Share > article > .LCommodity > .Images > a > img {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
  }
  #Main > #Share > article > .LCommodity > .Nameox {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Share > article > .LCommodity > .Nameox > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Share > article > .LCommodity > .Nameox > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Share > article > .LCommodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #Share > article > .LCommodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > .OriginaPrice {
    width: 40%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > .BargainPrice {
    font-size: 1.2rem;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > Car {
    width: 20%;
  }
  #Main > #Share > .more {
    width: 50%;
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #Main > #Share > .more > a {
    padding: 2.5px 10px 0.1px;
    display: inline-block;
    background-color: #49c769;
    text-decoration: none;
    color: #6a8aa7;
    border-radius: 35px;
  }
  #Main .Item01 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/yellow.png);
  }
  #Main .Item02 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/purple.png);
  }
  #Main .Item03 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/green.png);
  }
  #Main .Item04 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/coffee.png);
  }
  #Main .Item05 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/blue.png);
  }
}
@media screen and (min-width: 768px) {
  header {
    width: 100vw;
    background-color: #57174c;
  }
  header #MainNav {
    /*
    浮動對齊的問題 float
    1.#Logo 與 # icon 物件的父框架 nav，無寬度
    2.nav 的父框架 header ，高度消失(展開) 
    解決方式
    1.nav 的父框架 header ，給予高度: 或是nav 給予高度
    2.清除浮動狀態，由 nav 設定
    3.利用圖片高度撐開父框架的高
    */
    height: 10vh;
  }
  header #MainNav #Logo {
    width: 85vw;
  }
  header #MainNav #MenuBoton {
    width: 15vw;
  }
  header #MainNav #icon #Logo {
    float: left;
    background-color: ivory;
  }
  header #MainNav .Btnbox {
    background-color: #b6bee6;
    display: none;
  }
  header #MainNav #MenuBoton {
    float: left;
  }
  header #MainNav .Clear {
    clear: both;
  }
}
@media screen and (min-width: 992px) {
  header {
    width: 100vw;
    background-color: #60cab3;
  }
  header #MainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header #MainNav #icon {
    width: 100vw;
    display: block;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #MainNav #icon > #Logo {
    width: 60vw;
  }
  header #MainNav .Btnbox {
    background-color: #deeb29;
  }
  header #MainNav #MenuBoton {
    display: none;
    width: 30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  footer address {
    display: none;
  }

  #Main {
    background-color: #f1f5bb;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  #Main #Banner .Btn {
    width: 30px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 15;
    top: 145px;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .ReftBtn {
    right: 5.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImageBox {
    width: 100vw;
    list-style: none;
    padding-bottom: 385px;
    background-color: #f0e8e8;
  }
  #Main #Banner #ImageBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 295px;
  }
  #Main > #HotStar {
    background-image: url(../../images/bg/001.jpg);
  }
  #Main > #HotStar > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #HotStar > article {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #Main > #HotStar > article > .LCommodity {
    background-color: #edeeb7;
    width: 30.3333333333%;
    margin-bottom: 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    background-color: cornflowerblue;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #HotStar > article > .LCommodity > .Images {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: cornsilk;
  }
  #Main > #HotStar > article > .LCommodity > .Images > a > img {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #HotStar > article > .LCommodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .OriginaPrice {
    width: 40%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .BargainPrice {
    font-size: 1.2rem;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .Car {
    width: 20%;
  }
  #Main > #HotStar > .more {
    width: 80%;
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #Main > #HotStar > .more > a {
    padding: 2.5px 10px 0.1px;
    display: inline-block;
    background-color: #49c769;
    text-decoration: none;
    color: #6a8aa7;
    border-radius: 35px;
  }
  #Main > #Share > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Share > article {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #Main > #Share > article > .LCommodity {
    background-color: #edeeb7;
    width: 45%;
    margin-bottom: 20px;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Share > article > .LCommodity > #TitleBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    background-color: #2c8f23;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #Share > article > .LCommodity > .Images {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: cornsilk;
  }
  #Main > #Share > article > .LCommodity > .Images > a > img {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
  }
  #Main > #Share > article > .LCommodity > .Nameox {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Share > article > .LCommodity > .Nameox > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Share > article > .LCommodity > .Nameox > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Share > article > .LCommodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #Share > article > .LCommodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > .OriginaPrice {
    width: 40%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > .BargainPrice {
    font-size: 1.2rem;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > Car {
    width: 20%;
  }
  #Main > #Share > .more {
    width: 80%;
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #Main > #Share > .more > a {
    padding: 2.5px 10px 0.1px;
    display: inline-block;
    background-color: #49c769;
    text-decoration: none;
    color: #6a8aa7;
    border-radius: 35px;
  }
  #Main .Item01 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/yellow.png);
  }
  #Main .Item02 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/purple.png);
  }
  #Main .Item03 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/green.png);
  }
  #Main .Item04 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/coffee.png);
  }
  #Main .Item05 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/blue.png);
  }
}
@media screen and (min-width: 1200px) {
  header {
    width: 100vw;
    background-color: #da903b;
  }
  header #MainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  footer address {
    display: none;
  }

  #Main {
    background-color: #f1f5bb;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  #Main #Banner .Btn {
    width: 30px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 15;
    top: 145px;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .ReftBtn {
    right: 5.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImageBox {
    width: 100vw;
    list-style: none;
    padding-bottom: 385px;
    background-color: #f0e8e8;
  }
  #Main #Banner #ImageBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 295px;
  }
  #Main > #HotStar {
    background-image: url(../../images/bg/001.jpg);
  }
  #Main > #HotStar > h1 {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #HotStar > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #Main > #HotStar > article > .LCommodity {
    background-color: #edeeb7;
    width: 20.75%;
    margin-bottom: 20px;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    background-color: cornflowerblue;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #HotStar > article > .LCommodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #HotStar > article > .LCommodity > .Images {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: cornsilk;
  }
  #Main > #HotStar > article > .LCommodity > .Images > a > img {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #HotStar > article > .LCommodity > .Nameox > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #HotStar > article > .LCommodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .OriginaPrice {
    width: 40%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > .BargainPrice {
    font-size: 1.2rem;
  }
  #Main > #HotStar > article > .LCommodity > #PriceBox > Car {
    width: 20%;
  }
  #Main > #HotStar > .more {
    width: 80%;
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #Main > #HotStar > .more > a {
    padding: 2.5px 10px 0.1px;
    display: inline-block;
    background-color: #49c769;
    text-decoration: none;
    color: #6a8aa7;
    border-radius: 35px;
  }
  #Main > #Share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #Main > #Share > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Share > article > .LCommodity {
    background-color: #edeeb7;
    width: 49%;
    margin-bottom: 20px;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Share > article > .LCommodity > #TitleBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    background-color: #2c8f23;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #Share > article > .LCommodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #Share > article > .LCommodity > .Images {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: cornsilk;
  }
  #Main > #Share > article > .LCommodity > .Images > a > img {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
  }
  #Main > #Share > article > .LCommodity > .Nameox {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Share > article > .LCommodity > .Nameox > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Share > article > .LCommodity > .Nameox > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Share > article > .LCommodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #Share > article > .LCommodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > .OriginaPrice {
    width: 40%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > .BargainPrice {
    font-size: 1.2rem;
  }
  #Main > #Share > article > .LCommodity > #PriceBox > Car {
    width: 20%;
  }
  #Main > #Share > .more {
    width: 80%;
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #Main > #Share > .more > a {
    padding: 2.5px 10px 0.1px;
    display: inline-block;
    background-color: #49c769;
    text-decoration: none;
    color: #6a8aa7;
    border-radius: 35px;
  }
  #Main .Item01 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/yellow.png);
  }
  #Main .Item02 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/purple.png);
  }
  #Main .Item03 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/green.png);
  }
  #Main .Item04 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/coffee.png);
  }
  #Main .Item05 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/blue.png);
  }
}/*# sourceMappingURL=style.css.map */