header {
    // 寬度100%
    width: $w10 * 10;
    background-color: rgb(218, 144, 59);
    nav {
        display: flex;
        flex-wrap: wrap;
      
    }
}
footer {
    address {
        @include DN;
    }
}
