#Main{
    background-color: darkkhaki;
    #Banner{
        width: $w10 * 10;
        // 溢位設定，將超出的可視範圍給隱藏
        overflow: hidden;
        // 定位點:' 相對定位
        position: relative;
       .Btn{
           width: 30px;
           height:6vh *2;
        // 水平置中
        text-align: center;
        // 垂直置中 高度=行距
            line-height: 6vh *2;
        font-size: $Trem *1.2;
            // 定位點
            position: absolute;
            // 移動階層(圖層)
            z-index: 15;
            top: 20vh - 6vh;
            @include Rounded(15);
        
            
        }
        .LeftBtn{
            left:2.5vw;
            background-color:rgba(255, 255,255, 0.25);
            
        }
        .ReftBtn{
            // 方向 右邊為0(物件靠右對齊) ; float 浮點對齊，配合 上下左右
            right: 5.5vw;
            background-color: rgba(255,255,255,0.25);
        }
    }
    #ImageBox{
        width: $w10 * 10;
        @include DNli;
        // 內間距 設定 下方間距，當成圖片的高度，單位為 % or vh

        padding-bottom: 40vh;
        background-color: rgb(240, 232, 232);
       li{
        width: $w10 * 10;
        float: left;
        // 定位點 相絕定位:1.單獨呼叫時,原點(0,0)會位於畫面(可視範圍)的左上角
        // 2.物件的父框架呼叫 相對定位(position: relattive)時,功能設為「重新定位原點至父框架)
        position: absolute;
        // 移動圖片位置
    // margin-left: -235px;
    font-size: 72px;
    text-align:  center;
    // 內間距 設定 下方間距，當成圖片的高度，單位為 % or vh
    padding-bottom: 23vh;
       } 
    }
    .Item01{
        // width: $w10 * 10;
       @include BPohto(center,cover,Banner,"yellow.png");
    }
    .Item02{
        // 英文數字在前，數字被判定為「文字」:數字在英文字或底線(_)前，數字「0」為開頭，
        // scss會自動刪除
        // 數字要變為文字，需要轉換為「字串」，字串用雙引號包覆
        @include BPohto(center, cover, Banner,"purple.png")
    }
    .Item03{
        @include BPohto(center,cover,Banner,"green.png")
    }
    .Item04{
        @include BPohto(center,cover,Banner,"coffee.png")
    }
    .Item05{
        @include BPohto(center,cover,Banner,"blue.png")
    }
}