#Main{
    background-color: darkkhaki;
    #Banner{
        width: $w10 * 10;
        // 溢位設定，將超出的可視範圍給隱藏
        overflow: hidden;
        // 定位點:' 相對定位
        position: relative;
       .Btn{
           width: 30px;
           height:6vh *2;
        // 水平置中
        text-align: center;
        // 垂直置中 高度=行距
            line-height: 6vh *2;
        font-size: $Trem *2;
            // 定位點
            position: absolute;
            // 移動階層(圖層)
            z-index: 15;
            top: 20vh - 6vh;
            
        }
        .LeftBtn{
            left:2.5vw;
            background-color: darksalmon;
            
        }
        .ReftBtn{
            // 方向 右邊為0(物件靠右對齊) ; float 浮點對齊，配合 上下左右
            right: 5.5vw;
            background-color: darksalmon;
        }
    }
    #ImageBox{
        width: $w10 * 10;
        @include DNli;
        // 內間距 設定 下方間距，當成圖片的高度，單位為 % or vh

        padding-bottom: 35vh;
        background-color: rgb(240, 232, 232);
       li{
        width: $w10 * 10;
        float: left;
        // 定位點 相絕定位:1.單獨呼叫時,原點(0,0)會位於畫面(可視範圍)的左上角
        // 2.物件的父框架呼叫 相對定位(position: relattive)時,功能設為「重新定位原點至父框架)
        position: absolute;
        // 移動圖片位置
    // margin-left: -235px;
    font-size: 72px;
    text-align:  center;
    // 內間距 設定 下方間距，當成圖片的高度，單位為 % or vh
    padding-bottom: 23vh;
       } 
    }
    .Item01{
        width: $w10 * 10;
        // 背景圖片
        background-image: url(../../images/Banner/blue.png);
        // 不重複
        background-repeat: no-repeat;
        // 背景圖片 置中對齊
        background-position:center;
        // 背景圖片尺寸
        background-size: cover;
    }
}