header {
    // 寬度100%
    width: $w10 * 10;
    background-color: rgb(96, 202, 179);
    nav {
        display: flex;
        flex-wrap: wrap;
        .Btnbox {
            background-color: rgb(222, 235, 41);
        }
        #icon {
            // 開啟隱藏物件
            @include OB;
            width: $w10 * 7 ;
            // 隱藏項目符號
            list-style-type: none;
            display: flex;

        }
        #MenuBoton {
            @include DN;
            width: 10 * 3;
            // 彈性布局
            display: flex;
        
        }
    }
}
footer {
    address {
        @include DN;
    }
}
